<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Antepenultimate</title>
    <link rel="stylesheet" href="/static/global_styles.css">
    <link rel="stylesheet" href="/static/bracket_setup_styles.css">
  </head>
  <body>
    <select class="form-field" id="character-select" name="charSelect" style="max-height: 150px; display:none;">
        <option value="Banjo & Kazooie">Banjo & Kazooie</option>
        <option value="Bayonetta">Bayonetta</option>
        <option value="Bowser">Bowser</option>
        <option value="Bowser Jr.">Bowser Jr.</option>
        <option value="Byleth">Byleth</option>
        <option value="Captain Falcon">Captain Falcon</option>
        <option value="Chrom">Chrom</option>
        <option value="Cloud">Cloud</option>
        <option value="Corrin">Corrin</option>
        <option value="Daisy">Daisy</option>
        <option value="Dark Pit">Dark Pit</option>
        <option value="Dark Samus">Dark Samus</option>
        <option value="Diddy Kong">Diddy Kong</option>
        <option value="Donkey Kong">Donkey Kong</option>
        <option value="Dr. Mario">Dr. Mario</option>
        <option value="Duck Hunt">Duck Hunt</option>
        <option value="Falco">Falco</option>
        <option value="Fox">Fox</option>
        <option value="Ganondorf">Ganondorf</option>
        <option value="Greninja">Greninja</option>
        <option value="Hero">Hero</option>
        <option value="Ice Climbers">Ice Climbers</option>
        <option value="Ike">Ike</option>
        <option value="Incineroar">Incineroar</option>
        <option value="Inkling">Inkling</option>
        <option value="Isabelle">Isabelle</option>
        <option value="Jigglypuff">Jigglypuff</option>
        <option value="Joker">Joker</option>
        <option value="Kazuma">Kazuma</option>
        <option value="Ken">Ken</option>
        <option value="King Dedede">King Dedede</option>
        <option value="King K. Rool">King K. Rool</option>
        <option value="Kirby">Kirby</option>
        <option value="Link">Link</option>
        <option value="Little Mac">Little Mac</option>
        <option value="Lucario">Lucario</option>
        <option value="Lucas">Lucas</option>
        <option value="Lucina">Lucina</option>
        <option value="Luigi">Luigi</option>
        <option value="Mario">Mario</option>
        <option value="Marth">Marth</option>
        <option value="Mega Man">Mega Man</option>
        <option value="Meta Knight">Meta Knight</option>
        <option value="Mewtwo">Mewtwo</option>
        <option value="Mii Fighters">Mii Fighters</option>
        <option value="Min Min">Min Min</option>
        <option value="Mr. Game & Watch">Mr. Game & Watch</option>
        <option value="Ness">Ness</option>
        <option value="Olimar">Olimar</option>
        <option value="Pac-Man">Pac-Man</option>
        <option value="Palutena">Palutena</option>
        <option value="Peach">Peach</option>
        <option value="Pichu">Pichu</option>
        <option value="Pikachu">Pikachu</option>
        <option value="Pit">Pit</option>
        <option value="Piranha Plant">Piranha Plant</option>
        <option value="Pokémon Trainer">Pokémon Trainer</option>
        <option value="Pyra / Mythra">Pyra / Mythra</option>
        <option value="Richter">Richter</option>
        <option value="Ridley">Ridley</option>
        <option value="Robin">Robin</option>
        <option value="Rosalina & Luma">Rosalina & Luma</option>
        <option value="Roy">Roy</option>
        <option value="R.O.B.">R.O.B.</option>
        <option value="Ryu">Ryu</option>
        <option value="Samus">Samus</option>
        <option value="Sephiroth">Sephiroth</option>
        <option value="Sheik">Sheik</option>
        <option value="Shulk">Shulk</option>
        <option value="Simon">Simon</option>
        <option value="Snake">Snake</option>
        <option value="Sonic">Sonic</option>
        <option value="Sora">Sora</option>
        <option value="Steve & Alex">Steve & Alex</option>
        <option value="Terry">Terry</option>
        <option value="Toon Link">Toon Link</option>
        <option value="Villager">Villager</option>
        <option value="Wario">Wario</option>
        <option value="Wii Fit Trainer">Wii Fit Trainer</option>
        <option value="Wolf">Wolf</option>
        <option value="Yoshi">Yoshi</option>
        <option value="Young Link">Young Link</option>
        <option value="Zero Suit Samus">Zero Suit Samus</option>
        <option value="Zelda">Zelda</option>
    </select>    
</body>
