<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="antepenultimate-logo.png" type="image/x-icon">
    <title>Antepenultimate</title>
    <link rel="stylesheet" href="/static/global_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <!-- NAV BAR (just a single icon in top corner!)-->
    <section style="display: none;">
        {% include 'navbar.html' %}
    </section>

    <section class="index-section">
        {% include 'bracket_setup.html' %}
    </section>

    <script src=""></script>
  </body>
</html>