<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Antepenultimate</title>
    <link rel="stylesheet" href="/static/global_styles.css">
    <link rel="stylesheet" href="/static/navbar_styles.css">
  </head>
  <body>

    <section id="navbar-primary-section">
        <i id="page-menu" class="fa fa-bars" aria-hidden="true" style="font-size: 30px;"></i>
        <div id="project-title"> 
            <p style="font-size: 50px;">Antepenultimate</p>
            <p style="font-size: 25px;">Tournament Bracket System</p> 
        </div>
    </section>


    <script src=""></script>
  </body>
</html>